<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzm.nft">

    <application>
        <activity
            android:name=".activity.NFTTranDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NFTOutActivity"
            android:exported="false"
            android:label="转账"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NFTInActivity"
            android:exported="false"
            android:label="收款"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NFTTranActivity"
            android:exported="false"
            android:label="交易记录"
            android:screenOrientation="portrait" />
    </application>

</manifest>